name: build
on:
  push:
  pull_request_target:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          yarn
      - name: Build site
        run: make
      - name: Install netlify cli
        run: |
          yarn global add netlify-cli
      - name: Preview
        run: |
          "$(yarn global bin)/netlify" deploy --dir=dist
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref != 'refs/heads/master'
      - name: Deploy
        run: |
          "$(yarn global bin)/netlify" deploy --dir=dist --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        if: github.ref == 'refs/heads/master'
