@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'ui/styles/base';
@import 'ui/styles/app-loading';
@import 'ui/styles/tippy';
@import 'ui/styles/spin-button';

.dagger:after {
  content: '\2020';
}
